<div class="p-2">
    <h1>SignalR SQL Chart</h1>
    <div class="column column-xl">
        <canvas baseChart [data]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [plugins]="ChartPlugins"
            [chartType]="doughnutChartType" [colors]="ChartColors">
        </canvas>
    </div>

    <div class="column column-xl">
        <canvas baseChart [data]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [plugins]="ChartPlugins"
          [chartType]="pieChartType" [colors]="ChartColors">
        </canvas>
      </div>
</div>